@tailwind components;
@tailwind utilities;

* {
	font-family: "Quicksand";
}

button {
	outline: none !important;
}

[id*="ad-"] {
	display: none !important;
	background: black;
}

.ddc-menu-btn {
	@apply inline-flex justify-center items-center bg-teal-500 hover:bg-teal-600 p-1 border-teal-600 hover:border-teal-700 border-b-4 rounded-xl w-[4.5rem] h-[4.5rem] text-white transition-colors;

	& span {
		@apply flex flex-col justify-center items-center text-[.9em];
	}

	& span span {
		@apply flex flex-col justify-center items-center text-[.7em];
	}
}

.ddc-btn {
	@apply flex justify-center items-center p-1 px-5 py-3 border-b-4 rounded-2xl h-[32px] min-h-10 font-medium text-[.9em] text-white transition-colors [line-height:1];

	&.gray {
		@apply bg-gray-500 hover:bg-gray-600 border-gray-600 hover:border-gray-700;
	}

	&.red {
		@apply bg-red-500 hover:bg-red-600 border-red-600 hover:border-red-700;
	}

	&.blue {
		@apply bg-blue-500 hover:bg-blue-600 border-blue-600 hover:border-blue-700;
	}

	&.emerald {
		@apply bg-emerald-500 hover:bg-emerald-600 border-emerald-600 hover:border-emerald-700;
	}
}

.ddc-modal-container {
	@apply bg-black/50 z-50 fixed top-0 left-0 w-screen h-screen flex items-center justify-center transition-opacity duration-300;
}

.ddc-modal {
	@apply relative flex flex-col items-stretch bg-gray-800 shadow-2xl px-3 py-2 border border-gray-700 rounded-xl w-[40rem] max-w-[calc(100vw-1rem)] h-[20rem] max-h-[calc(100vh-1rem)];
}

.ddc-modal-title {
	@apply mb-2 font-bold text-gray-200 text-center;
	font-size: 1.3rem;
	line-height: 1.2em;
	font-weight: 300;
}

.ddc-modal-footer {
	@apply flex justify-center items-end gap-3 mt-3;
}

.ddc-input {
	@apply bg-gray-900 p-2 border border-gray-600 rounded outline-none text-gray-200 placeholder:text-gray-400;
}