on: [push]

jobs:
  # build_win:
  #   name: Build for Windows
  #   runs-on: windows-latest

  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Use Node.js
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: '12.x'
  #     - run: npm ci
  #     - run: npm run dist
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Remove File
  #       uses: JesseTG/rm@v1.0.2
  #       with:
  #         path: ./dist/win-unpacked
  #     - name: Push to built branch
  #       uses: s0/git-publish-subdir-action@develop
  #       env:
  #         REPO: self
  #         BRANCH: downloads # The branch name where you want to push the assets
  #         FOLDER: dist # The directory where your assets are generated
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  build_mac:
    name: Build for Mac
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm ci
      - run: npm run mac
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to built branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b "mac"
          git add -f dist
          git commit -m "build"
          git push origin mac
        env:
          REPO: self
          BRANCH: mac # The branch name where you want to push the assets
          FOLDER: dist # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}